* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #2b6777;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px 60px;
  font-size: 17px;
}
@media (width <= 768px) {
  .navbar {
    padding: 0 25px;
  }
}
@media (width <= 480px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: auto;
    gap: 5px;
  }
}
.navbar .nav_details {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar .nav_details .nav_logo {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (width <= 480px) {
  .navbar .nav_details .nav_logo {
    gap: 15px;
  }
}
.navbar .nav_details .nav_logo .title {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.navbar .nav_details .nav_logo img {
  height: 7vh;
  width: auto;
}
@media (width <= 480px) {
  .navbar .nav_details .nav_logo img {
    display: none;
  }
}
.navbar .nav_details .nav_logo .hamburger {
  display: none;
  color: white;
}
@media (width <= 480px) {
  .navbar .nav_details .nav_logo .hamburger {
    display: initial;
    font-size: 20px;
  }
}
.navbar .ts {
  gap: 60px;
  position: absolute;
  top: 15px;
}
@media (width <= 768px) {
  .navbar .ts {
    gap: 35px;
    top: 15px;
  }
}
@media (width <= 480px) {
  .navbar .ts {
    position: initial;
  }
}
.navbar .ts .faSearch {
  font-size: 15px;
}
.navbar .search {
  width: 40vw;
  background-color: white;
  height: 4vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
@media (width <= 768px) {
  .navbar .search {
    width: 30vw;
  }
}
@media (width <= 480px) {
  .navbar .search {
    top: 50px;
    width: 91vw;
  }
}
.navbar .search input[type=text] {
  font-size: 16px;
  outline: none;
  border: none;
  height: 80%;
  width: 100%;
  padding-left: 10px;
}
.navbar .nav_acc {
  display: flex;
  gap: 55px;
  color: white;
  align-items: center;
}
@media (width <= 768px) {
  .navbar .nav_acc {
    gap: 20px;
  }
}
@media (width <= 480px) {
  .navbar .nav_acc {
    position: relative;
    gap: 15px;
  }
}
.navbar .nav_acc .profile {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: center;
}
.navbar .nav_acc .profile .text {
  text-decoration: none;
  color: white;
}
@media (width <= 480px) {
  .navbar .nav_acc .profile .text {
    display: none;
  }
}

.cata {
  display: flex;
  font-size: 20px;
  padding: 5px 10px;
  gap: 40px;
  overflow-x: scroll;
}
.cata::-webkit-scrollbar {
  display: none;
}
@media (width <= 480px) {
  .cata {
    padding: 8px 10px;
    font-size: 25px;
  }
}

@media (width >= 768px) {
  .carousel .carousel-item {
    height: 400px;
  }
  .carousel-item img {
    min-height: 400px;
  }
}
.omg .omg_logo {
  top: 20px;
  display: flex;
  justify-content: center;
}
@media (width <= 480px) {
  .omg .omg_logo img {
    height: 40px;
  }
}
.omg .omg_title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #3d2e8a;
  font-weight: 700;
  text-transform: uppercase;
}
@media (width <= 480px) {
  .omg .omg_title {
    font-size: 12px;
  }
}
.omg .omg_products {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 5px 10px;
}
.omg .omg_products::-webkit-scrollbar {
  display: none;
}
.omg .omg_products .card {
  min-width: 15vw;
  border-radius: 10px;
}
.omg .omg_products .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}
@media (width <= 480px) {
  .omg .omg_products .card {
    min-width: 40vw;
  }
}
@media (width <= 768px) {
  .omg .omg_products .card {
    min-width: 40vw;
  }
}
.omg .omg_products .container {
  padding: 2px 16px;
}
.omg .omg_products .container .dis {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
@media (width <= 480px) {
  .omg .omg_products .container .dis {
    font-size: 12px;
  }
}
@media (width <= 768px) {
  .omg .omg_products .container .dis {
    font-size: 12px;
  }
}
.omg .omg_products .container .price {
  padding: 2px 5px;
  font-weight: 600;
}
.omg .all-pro {
  padding: 5px 20px;
  font-size: 13px;
  color: #077588;
  font-weight: 500;
}

.food-main .food_title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 10px;
  font-weight: bold;
}
@media (width <= 480px) {
  .food-main .food_title {
    font-size: 18px;
  }
}
.food-main .food_products {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 5px 10px;
}
.food-main .food_products::-webkit-scrollbar {
  display: none;
}
.food-main .food_products .card {
  min-width: 15vw;
  border-radius: 10px;
  border-style: none;
}
.food-main .food_products .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}
@media (width <= 480px) {
  .food-main .food_products .card {
    min-width: 40vw;
  }
}
@media (width <= 768px) {
  .food-main .food_products .card {
    min-width: 40vw;
  }
}
.food-main .food_products .container {
  padding: 2px 16px;
  font-size: 12px;
  text-align: center;
}
.food-main .food_products .container .dis {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(34, 160, 83);
}
@media (width <= 480px) {
  .food-main .food_products .container .dis {
    font-size: 12px;
  }
}
@media (width <= 768px) {
  .food-main .food_products .container .dis {
    font-size: 12px;
  }
}
.food-main .food_products .container .price {
  padding: 2px 5px;
  font-weight: 600;
}

.ele-main {
  padding: 20px;
}
.ele-main .ele_title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 10px;
  font-weight: bold;
}
@media (width <= 480px) {
  .ele-main .ele_title {
    font-size: 18px;
  }
}
.ele-main .ele_products {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 5px 10px;
}
.ele-main .ele_products::-webkit-scrollbar {
  display: none;
}
.ele-main .ele_products .card {
  min-width: 15vw;
  border-radius: 10px;
  border-style: none;
}
.ele-main .ele_products .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}
@media (width <= 480px) {
  .ele-main .ele_products .card {
    min-width: 40vw;
  }
}
@media (width <= 768px) {
  .ele-main .ele_products .card {
    min-width: 40vw;
  }
}
.ele-main .ele_products .container {
  padding: 2px 16px;
  font-size: 12px;
  text-align: center;
}
.ele-main .ele_products .container .dis {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(34, 160, 83);
}
@media (width <= 480px) {
  .ele-main .ele_products .container .dis {
    font-size: 12px;
  }
}
@media (width <= 768px) {
  .ele-main .ele_products .container .dis {
    font-size: 12px;
  }
}
.ele-main .ele_products .container .price {
  padding: 2px 5px;
  font-weight: 600;
}

.auth {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.auth .container {
  width: 40%;
  height: 95%;
  border: 10px solid black;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */