.omg {
    .omg_logo {
        top: 20px;
        display: flex;
        justify-content: center;

        @include mobile {
            img {
                height: 40px;
            }
        }
    }
    .omg_title {
        display: flex;
        justify-content: center;
        font-size: 25px;
        color: #3d2e8a;
        font-weight: 700;
        text-transform: uppercase;

        @include mobile{
            font-size: 12px;
        }
    }
    .omg_products{
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        padding: 15px 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        .card{
            min-width: 15vw;
            border-radius: 10px;

            @include mobile{
                min-width: 40vw;
            }

        }
        .container {
            padding: 2px 16px;
          }

        

       
    }
}